@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,800&display=swap');


*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --home-primary-color-light: #fc413a;
  --home-primary-color-dark: #ed0c0c;
  --home-secondary-color-dark:  #068099;
}


html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-size: 1.4rem;
  color: rgba(0,0,0, .85) ;
  display: grid;
   grid-template-columns: [full-start] minmax(10rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(10rem, 1fr) [full-end];
    grid-template-rows: min-content ;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#root{
  grid-column: col-start / col-end;
  min-height: 100vh;
}

/*  media at 1200px */
@media only screen and (max-width: 72em){
  
  body{
    grid-template-columns: [full-start] minmax(6rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(6rem, 1fr) [full-end];
  }
}

/* 915px */
@media only screen and (max-width: 57em){
 
  body{
    grid-template-columns: [full-start] minmax(2rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(2rem, 1fr) [full-end];
  }
}

/* 915px */
@media only screen and (max-width: 50em){
 
  body{
    grid-template-columns: [full-start] minmax(0rem, 1fr) [col-start] repeat(8, minmax(min-content, 16rem)) [col-end] minmax(0rem, 1fr) [full-end];
  }
}

/* 600px */
@media only screen and (max-width: 37em){
 
  html{
    font-size: 55%;
  }
  body{
    background-color: #f9f7f6;
  }
}